// connections to the internal BL616 controller
IO_LOC "spi_csn" H11; // TMS
IO_PORT "spi_csn" IO_TYPE=LVCMOS33 PULL_MODE=UP PULL_STRENGTH=WEAK BANK_VCCIO=3.3;
IO_LOC "spi_sclk" H12; //TCK  4K7 pull down at SOM
IO_PORT "spi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3; //
IO_LOC "spi_dat" H10; // TDI
IO_PORT "spi_dat" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "spi_dir" J10; // TDO 4K7 pull down at board
IO_PORT "spi_dir" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "spi_irqn" P15; // RX  4K7 pull-up at SOM
IO_PORT "spi_irqn" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33  BANK_VCCIO=3.3;

NET_LOC "jtagseln" V_JTAGSELN;

IO_PORT "reconfign" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC  "reconfign" AE16;

IO_LOC "clk_in" P16;        // 50Mhz
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "reset" K16;        // actually S0 on the board
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "user" F15;        // S1
IO_PORT "user" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

// BL616 UART console
IO_PORT "uart_rx" PULL_MODE=UP DRIVE=OFF IO_TYPE=LVCMOS33;
IO_PORT "uart_tx" DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "uart_rx" K25; // GPIO_28 PLL1_TWI SCL
IO_LOC "uart_tx" K26; // GPIO_27 PLL1_TWI SDA 

IO_PORT "twimux[0]" DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "twimux[0]" N19;
IO_PORT "twimux[1]" DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "twimux[1]" P19;
IO_PORT "twimux[2]" DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "twimux[2]" P26;

IO_LOC "bl616_mon_tx" B21;
IO_PORT "bl616_mon_tx" DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "bl616_mon_rx" C21;
IO_PORT "bl616_mon_rx" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// HDMI
IO_LOC "tmds_clk_p" Y22,Y23;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" AB24,AC24;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" V24,W24;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" AA22,AA23;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// SDCard
IO_LOC "sd_clk" D23;
IO_PORT "sd_clk" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" D24;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" H23;       // MISO
IO_PORT "sd_dat[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" J23;
IO_PORT "sd_dat[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" A25;
IO_PORT "sd_dat[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" B25;
IO_PORT "sd_dat[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// ws2812b rgb led
IO_LOC "ws2812" H16;
IO_PORT "ws2812" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

